*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;

}

.container {
    width: 100%;
    max-width: 380px;
    margin-inline: auto;
    padding-inline: 1rem;

}

.cards-topic {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.card-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #3d3d3d8c;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    height: 80px;
    width: 100%;
    justify-content: center;

}

#card-topic-icon {
    color: rgb(201, 10, 10);
}

.card-topic-title {
    color: rgb(201, 10, 10);
    font-weight: 500;
    font-size: larger
}

.card-topic-subtitle {
    color: rgba(255, 255, 255, 0.699);
    font-weight: 600;
    font-size: 12px;
}

.horarios-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d8c;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 10px;
}

.header-horarios {
    display: flex;
    gap: 5px;
    padding: 10px;
}

#horario-icon {
    color: rgb(201, 10, 10);
    font-size: 20px;
}

.horario-title {
    color: white;
    font-size: 20px;
}

.main-horarios {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-horarios {
    padding: 10px;
    border: 1px solid #3d3d3d8c;
    background-color: rgba(37, 37, 37, 0.219);
    border-radius: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}

.loc-horario {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sigla-pais {
    font-size: 35px;
}

.cidade-loc {
    font-size: 15px;
}

.pais-loc {
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.61);
}

.horario {
    color: rgb(201, 10, 10);
<<<<<<< HEAD
    padding: ;
=======
}
.mensagge-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d8c;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.frase{
    text-align: center;
    color: white;
>>>>>>> 46c3d6c0011c4c7d311a1996a03d04cdf460f4c4
}