* {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  max-width: 1900px;
  width: 100%;
  height: 97vh;
  margin: 15px auto;
  padding: 0 10px;
  box-sizing: border-box;

}

.parent div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  border-radius: 6px;
}


.conatiner-logo {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  
}

.logo-img {
  width: 60%;
}

.container-contagem {
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
  display: flex;
  flex-direction: column;
  background: rgb(177, 14, 14);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.container-contagem:hover {
  border-color: rgb(12, 12, 73);
}

.div4 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 3;
  background: rgb(177, 14, 14);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.div4:hover {
  border-color: rgb(68, 19, 114);
}

.container-timeline {
  grid-column: 4 / span 2;
  grid-row: 7 / span 3;
  background: rgb(177, 14, 14);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.container-timeline:hover {
  border-color: rgb(114, 4, 4);
}

.conteudo-horarios {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

}

.title-horario {
  font-size: 30px;
}

.relogio {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
 background-color: rgba(255,255,255,0.1);
  border-radius: 50px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: inset 0 0 8px rgba(255,255,255,0.1);
}


.conatiner-video {
  grid-column: 4 / span 7;
  grid-row: 1 / span 6;
}

.container-caio {
  grid-column: 6 / span 1;
  grid-row: 7 / span 3;
}

.BTN-CAIO {
  width: 100%;
  height: 100%;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  background: rgb(180, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.BTN-CAIO:hover {
  transform: scale(1.00) translateY(-5px);
  box-shadow: 0 15px 35px rgba(3, 0, 170, 0.6);
  border-color: rgba(36, 0, 197, 0.6);
}

.title {
  display: flex;
  flex-direction: column;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

.container-jhen {

  grid-column: 7 / span 1;
  grid-row: 7 / span 3;
}

.BTN-JHEN {
  width: 100%;
  height: 100%;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
   background: rgb(180, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.BTN-JHEN:hover {
  transform: scale(1.00) translateY(-5px);
  box-shadow: 0 15px 35px rgba(158, 3, 3, 0.6);
  border-color: rgba(187, 29, 2, 0.6);
}

.container-vini {
  grid-column: 8 / span 1;
  grid-row: 7 / span 3;
}

.BTN-VINI {
  width: 100%;
  height: 100%;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  background: rgb(180, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.BTN-VINI:hover {
  transform: scale(1.00) translateY(-5px);
  box-shadow: 0 15px 35px rgba(12, 143, 0, 0.6);
  border-color: rgba(6, 138, 28, 0.6);
}

.container-livs {
  grid-column: 9 / span 1;
  grid-row: 7 / span 3;
}

.BTN-LIVS {
  width: 100%;
  height: 100%;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  background: rgb(180, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.BTN-LIVS:hover {
  transform: scale(1.00) translateY(-5px);
  box-shadow: 0 15px 35px rgba(113, 2, 128, 0.6);
  border-color: rgba(134, 4, 128, 0.6);
}

.container-bigV {
  grid-column: 10 / span 1;
  grid-row: 7 / span 3;
}

.BTN-BIGV {
  width: 100%;
  height: 100%;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  background: rgb(180, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.BTN-BIGV:hover {
  transform: scale(1.00) translateY(-5px);
  box-shadow: 0 15px 35px rgba(168, 102, 3, 0.6);
  border-color: rgba(187, 75, 10, 0.6);
}

.div13 {
  grid-column: 1 / span 10;
  grid-row: 10;
}

.nomesInfinitos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 20px 0;
}

.nomesInfinitos:before,
.nomesInfinitos::after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.nomesInfinitos:before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(17, 17, 17));
}

.nomesInfinitos:after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(17, 17, 17));
}

.inifntyScrool {
  display: flex;
  animation: slide 35s linear infinite;
}

.inifntyScrool ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.inifntyScrool li {
  list-style: none;
  font-size: 35px;
  color: white;
  margin-right: 40px;
}

.nomesInfinitos:hover .inifntyScrool {
  animation-play-state: paused;
}

li:hover {
  color: crimson;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.countdown {
  width: 90%;
  color: #fff;
  padding: 40px 50px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.unit {
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 70px;
  font-weight: bold;
  background: #000000;
  padding: 20px 30px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.label {
  font-size: 40px;
  color: #bbb;
}

.title-contagem {
  text-align: center;
  font-size: 30px;
}

.video-container {
  position: relative;
  background-image: url(/assets/image.png);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 48px;
  padding: 20px 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

